<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">Login</a>
    </li>
    <li>
        <a routerLink="/auth/register">Sign Up</a>
    </li>
    <li>
        <a routerLink="/hero/list">List Heroes</a>
    </li>
    <li>
        <a routerLink="/hero/add">Add Hero</a>
    </li>
    <li>
        <a routerLink="/hero/update">Update Hero</a>
    </li>
    <li>
        <a routerLink="/hero/seach">Search Hero</a>
    </li>
    <li>
        <a routerLink="/hero/123456789">Specific Hero</a>
    </li>
</ul>